<section class="user-form m-2">
  <div class="form-img">
    <img [src]="'../../assets/images/avatars/image-juliusomo.png'" alt="" />
  </div>
  <div class="form-textarea">
    <div class="form-group shadow-textarea">
      <textarea
        #textarea
        [(ngModel)]="userinput"
        class="form-control z-depth-1"
        id="exampleFormControlTextarea6"
        rows="3"
        placeholder="Write something here..."
      ></textarea>
    </div>
  </div>
  <button class="btn btn-primary d-inline-block" (click)="addreply()">
    Reply
  </button>
</section>
