/* You can add global styles to this file, and also import other style files */
// Import Bootstrap styles
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '/src/app/styles/mixins.scss';

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&family=Rubik&display=swap");
body {
  font-family: "Manrope", sans-serif!important;
  font-family: "Roboto", sans-serif!important;
  font-family: "Rubik", sans-serif!important;
 
  
}
